html {
    height: 100%;
}

body {
    background-image: radial-gradient(#3a3374, #17142f);
    font-family: "Nunito", sans-serif;
    color: #ffffff;
}

#logo {
    margin-top: 20px;
}

h1 {
    font-size: 42pt !important;
    font-weight: 700;
    color: #f4a91a;
    margin-top: 10px;
}

.btn-primary {
    background-color: #f4a91a !important;
    font-weight: 700;
    font-size: 14pt;
}

.btn-primary:hover {
    background-color: #f7ba46 !important;
    box-shadow: 2px 6px 28px -8px rgba(0, 0, 0, 0.62);
}

.bgcolor1 {
    background-image: linear-gradient(to right, #3c64b1, #537bc9);
}

.bgcolor2 {
    background-image: linear-gradient(to right, #2783ca, #2d96d8);
}

.bgcolor3 {
    background-image: linear-gradient(to right, #0d8089, #1db1ab);
}

.bgcolor4 {
    background-image: linear-gradient(to right, #5927ca, #6f2dd8);
}

.footer {
    font-size: 14pt;
    color: white;
    margin-top: 80px;
    text-align: center;
}

.location-date__location {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    color: #f4a91a;
}

/* TEMPERATURE BLOCK */
.current-temperature {
    /*display: flex;*/
    margin-top: 0.25em;
    /*width: 100%;*/
}

.current-temperature__icon-container {
    /*flex-grow: 1.25;*/
    text-align: center;
}

.current-temperature__content-container {
    /*flex-grow: 1;*/
    text-align: center;
}

.current-temperature__icon {
    width: 10.5em;
}

.current-temperature__value {
    font-size: 5.25em;
    font-weight: 300;
}

.current-temperature__summary {
    margin-top: -0.5em;
    margin-left: -0.6em;
    font-size: 1.125em;
}